@charset "UTF-8";
a {
  text-decoration: none;
}

body {
  background-color: #e7d0c4;
  user-select: none;
}

body .container {
  text-align: center;
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 5px;
  padding: 30px 0;
}

body .container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 75%;
  height: 180px;
  margin: 0 auto;
  padding: 2rem 0;
}

body .container ul .nomal {
  background-color: skyblue;
}

body .container ul .red {
  background-color: red;
  position: relative;
  transition: 1s;
}

body .container ul .red::before {
  content: "・・・wrong";
  color: white;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  bottom: 0.5rem;
}

body .container ul .green {
  background-color: limegreen;
  position: relative;
  transition: 1s;
}

body .container ul .green::before {
  content: "・・・correct";
  color: white;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  bottom: 0.5rem;
}

body .container ul li {
  width: 100%;
  padding: 0.5rem 1rem;
  list-style: none;
  border: 2px solid #333;
  border-radius: 3px;
  text-align: left;
  font-weight: bold;
}

body .container ul li:hover {
  opacity: 0.7;
  cursor: pointer;
}

body .container .invalid_btn {
  width: 75%;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
  background-color: #ccc;
  box-shadow: 4px 4px 0 #ddd;
  font-size: 23px;
}

body .container .invalid_btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

body .container .invalid_btn:active {
  box-shadow: none;
  transition: .5s;
}

body .container .valid_btn {
  width: 75%;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
  background-color: skyblue;
  box-shadow: 4px 4px 0 #2880b9;
  font-size: 23px;
  transition: .4s;
}

body .container .valid_btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

body .container .valid_btn:active {
  transition: .5s;
  box-shadow: none;
}

body .container .invalid_result {
  width: 90%;
  height: 300px;
  margin: 0 auto;
  position: absolute;
  top: -300px;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: yellow;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .4s;
}

body .container .invalid_result p {
  color: #333;
  font-weight: bold;
  font-size: 30px;
}

body .container .valid_result {
  transition: 0.4s;
  width: 90%;
  height: 300px;
  margin: 0 auto;
  position: absolute;
  top: 3rem;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: yellow;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body .container .valid_result p {
  color: #333;
  font-weight: bold;
  font-size: 30px;
}
